########################################################################
# odr dab & mot encoder processes
########################################################################
[group:odr-encoder]
programs=audioenc,padenc{% if encoder_odr_sourcecompanion_enabled %},sourcecompanion{% endif %}

priority=500

########################################################################
# dab encoder
########################################################################
[program:audioenc]
priority=102
directory={{ encoder_run_dir }}
command=/usr/local/bin/odr-audioenc
{% if encoder_soundsystem == 'alsa' %}
    -d default
{% endif %}
{% if encoder_soundsystem == 'jackd' %}
    -j encoder
{% endif %}
{% if encoder_audio_interface_drift_compensation %}
    -D
{% endif %}
    -r 48000
    -c 2
{% for output in encoder_outputs %}
    -o {{ output }}
{% endfor %}
    -b {{ encoder_bitrate }}
    -p {{ encoder_pad_size }}
    -P pad.fifo
user={{ encoder_user }}
startretries=120
autostart={% if encoder_odr_type_primary == 'audioenc' %}true{% else %}false{% endif %}

autorestart=true
redirect_stderr=true
loglevel=info
stdout_logfile=syslog

########################################################################
# mot encoder
########################################################################
[program:padenc]
priority=103
directory={{ encoder_run_dir }}
command=/usr/local/bin/odr-padenc
    --pad {{ encoder_pad_size }}
    --remove-dls
    --dir meta/slides
    --sleep 30
    --dls meta/dls.txt
    --output pad.fifo
user={{ encoder_user }}
autostart=true
autorestart=true
redirect_stderr=true
loglevel=info
stopsignal=KILL
stdout_logfile=syslog


{% if encoder_odr_sourcecompanion_enabled %}
########################################################################
# sourcecompanion
########################################################################
[program:sourcecompanion]
priority=102
directory={{ encoder_run_dir }}
command=/usr/local/bin/odr-sourcecompanion
    -c 2
    -b {{ encoder_bitrate }}
    -r 48000
    --sbr
    -p {{ encoder_pad_size }}
    -P pad.fifo
    --pad-port={{ encoder_odr_sourcecompanion_pad_port }}
    --input-uri={{ encoder_odr_sourcecompanion_input_uri }}
    --control-uri={{ encoder_odr_sourcecompanion_control_uri }}
    --jitter-size={{ encoder_odr_sourcecompanion_jitter_size }}
{% for output in encoder_outputs %}
    -o {{ output }}
{% endfor %}
user={{ encoder_user }}
autostart={% if encoder_odr_type_primary == 'sourcecompanion' %}true{% else %}false{% endif %}

autorestart=true
redirect_stderr=true
loglevel=info
stopsignal=KILL
stdout_logfile=syslog
{% endif %}
