########################################################################
# odr dab & mot encoder processes
########################################################################
[group:odr-encoder]
programs=audioenc,padenc
priority=500

########################################################################
# dab encoder
########################################################################
[program:audioenc]
priority=102
directory={{ encoder_run_dir }}
command=/usr/local/bin/odr-audioenc
    -d {{ encoder_audio_interface_input }}
{% if encoder_audio_interface_drift_compensation == 'yes' %}
    -D
{% endif %}
    -r 48000
    -c 2
{% for output in encoder_outputs %}
    -o {{ output }}
{% endfor %}
    -b {{ encoder_bitrate }}
    -p {{ encoder_pad_size }}
    -P pad.fifo
user={{ encoder_user }}
startretries=120
autostart=true
autorestart=true
redirect_stderr=True
loglevel=info
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
stdout_logfile={{ encoder_log_dir }}/audioenc.log

########################################################################
# mot encoder
########################################################################
[program:padenc]
priority=103
directory={{ encoder_run_dir }}
command=/usr/local/bin/odr-padenc
    --pad {{ encoder_pad_size }}
    --remove-dls
    --dir meta/slides
    --sleep 30
    --dls meta/dls.txt
    --output pad.fifo
user={{ encoder_user }}
autostart=true
autorestart=true
redirect_stderr=True
loglevel=info
stopsignal=KILL
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
stdout_logfile={{ encoder_log_dir }}/padenc.log